<a href="https://colab.research.google.com/github/Khushi-Swarnkar/Reinforcement-Learning-Course/blob/main/31_07_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#first lab

In [2]:
!python --version

Python 3.10.6

In [6]:
x = 5;
print(x)
print (x, type(x));
print(x+1)
print(x-1)
x += 1
print(x)

5
5 <class 'int'>
6
4
6

In [11]:
t = True
f = False
print(t and f)
print (t or f)
print(type(t))
print(t==f)
print(t!=f)
print(not t)

False
True
<class 'bool'>
False
True
False

In [22]:
g = "hello"
print(g)
print(len(g))
print(g+" world!")
print(g.capitalize())
print(g.upper())
print(g.rjust(13))
print(g.center(17))
print(g.replace("h","p"))
print("       world      ".strip())  #strip leading and trailing whitespaces

hello
5
hello world!
Hello
HELLO
        hello
      hello
pello
world

In [17]:
#format functions
str1 = "{} {} {}".format("hello","world",3)
print(str1)

hello world 3

data structures in python - list,dictionaries,tuples,sets,dataframe,numpy array

In [32]:
list1 = [1,"string",5,"hello"]
print(list1)
list1[1]
list1[-1]
list1[2]="world"
list1.append(7)
print(list1)
list2 = list1.pop()
print(list2)
print(list1.pop())

[1, 'string', 5, 'hello']
[1, 'string', 'world', 'hello', 7]
7
hello

In [31]:
list1 = list(range(10))
print(list1)
print(list1[3:5])
print(list1[3:])
print(list1[:5])
print(list1[:-1])
print(list1[:])
list1[2:4]=[18,12]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4]
[3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 18, 12, 4, 5, 6, 7, 8, 9]

In [43]:
#loops
fruits = ['apple','mango','grapes']
for fruit in fruits:
  print(fruit)
for index,fruit in enumerate(fruits):
  print('#%d %s' % (index + 1,fruit))
for index,fruit in enumerate(fruits):
  print('#{} {}' .format(index + 1,fruit))

apple
mango
grapes
#1 apple
#2 mango
#3 grapes
#1 apple
#2 mango
#3 grapes

In [46]:
num = [1,2,3,4,5]
square = []
for n in num:
  square.append(n**2)
print(square)

[1, 4, 9, 16, 25]

In [47]:
num = [1,2,3,4,5]
squares = [x ** 2 for x in num]
print(squares)

[1, 4, 9, 16, 25]

In [48]:
num = [1,2,3,4,5,6,7,8]
squares = [x ** 2 for x in num if x%2 == 0]  #square of even numbers
print(squares)

[4, 16, 36, 64]

In [51]:
def sign(x):
  if x > 0:
    return "positive"
  elif x < 0:
    return " negative"
  else:
    return "zero"

for x in [-1,0,1]:
  print(sign(x))

 negative
zero
positive

In [52]:
# numpy arrays : it holds only same type of values
import numpy as np
a = np.array([1,2,3])
print(type(a))

<class 'numpy.ndarray'>